---
import { siteMetadata } from '../data/siteMetadata';
import { buildCanonicalUrl, parseKeywords, resolveImageUrl, resolveImageAlt, type MaybeImage } from '../utils/seo';

interface Props {
  title?: string;
  description?: string;
  keywords?: string | string[];
  pathname?: string;
  articleImage?: MaybeImage;
  articleImageAlt?: string;
  articleCreatedAt?: string;
  articleUpdatedAt?: string;
  type?: 'website' | 'article';
}

const {
  title = siteMetadata.title,
  description = siteMetadata.description,
  keywords = '',
  pathname = '/',
  articleImage,
  articleImageAlt,
  articleCreatedAt = '',
  articleUpdatedAt = '',
  type = 'website',
}: Props = Astro.props;

const url = buildCanonicalUrl(pathname);
const keywordList = parseKeywords(keywords);
const image = resolveImageUrl(articleImage);
const imageAlt = resolveImageAlt(articleImageAlt, title);
---

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:locale" content="en_US" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={url} />
<meta property="og:image" content={image} />
<meta property="og:image:alt" content={imageAlt} />
<meta property="og:publish_date" content={articleCreatedAt} />
<meta property="og:author_name" content="Eric Poe" />
{
  keywordList.length ? (
    <>
      <meta name="keywords" content={keywordList.join(', ')} />
      {keywordList.map((keyword) => (
        <meta property="article:tag" content={keyword} />
      ))}
    </>
  ) : null
}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:url" content={url} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="twitter:image:alt" content={imageAlt} />
<meta name="twitter:creator" content={siteMetadata.twitterUsername} />
<meta name="og:type" content={type} />
<meta name="og:article:published_time" content={articleCreatedAt} />
<meta name="og:article:modified_time" content={articleUpdatedAt} />
<meta name="og:site_name" content={siteMetadata.siteName} />
<link rel="canonical" href={url} />
<link
  rel="icon"
  href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>👤</text></svg>"
/>
